*.js
!jest.config.js
*.d.ts
node_modules
!lambda.js

# create below file to quickly export aws key and ignore this file
credentials.sh

# CDK asset staging directory
.cdk.staging
cdk.out
secrets

!cfFunction.jspackage-lock.json
